.ant-form-item-control-input-content > .ant-row {
  // margin-right: -20px !important;
}
.ant-col {
  // padding-right : 20px;
  .ant-form-item {
    margin-bottom: unset;
  }
}
.ant-select {
  width: 100%;
}
.ant-select-dropdown {
  ::-webkit-scrollbar {
    display: unset;
    background-color: rgba(180, 181, 204, 0.2);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba(51, 155, 255, 0.3);
  }
}
.single-select {
  .ant-select-selection-search-input {
    padding-top: 25px !important;
    height: 40px !important;
  }
}

.ant-input,
.ant-select-selector {
  min-height: 50px;
  border-radius: 5px !important;
  border: solid 1px rgba(135, 149, 162, 0.4) !important;
  background-color: rgba(135, 149, 162, 0.06) !important;
  &::placeholder,
  .ant-select-selection-placeholder {
    color: #8795a2 !important;
    font-size: 16px;
    font-weight: 500 !important;
    opacity: 1;
  }
  .ant-select-selection-placeholder,
  .ant-select-selection-item {
    display: flex;
    align-items: center;
  }
}
.input-white-box {
  padding: 11px !important;
  padding-top: 11px !important;
  margin-bottom: 10px !important;
  background: #fff !important;
}
.ant-input,
.ant-select-selector {
  padding-top: 15px !important;
}
.ant-input:focus {
  box-shadow: unset !important;
}
.ant-btn-primary {
  border-radius: 5px !important;
  min-height: 50px;
  font-weight: bold;
  span {
    font-size: 17px;
  }
  &.submit-btn {
    min-width: 200px;
    margin-top: 12px;
  }
  &.list-btn {
    min-width: 160px;
    height: 45px;
    font-weight: bold;
    span {
      font-size: 14px;
    }
  }
  &.default {
    background: #fff;
    color: $bold-black;
    border: solid 1px rgba(135, 149, 162, 0.4);
  }
  &.inactive {
    background: rgba(0, 119, 234, 0.2);
    border-color: rgba(0, 119, 234, 0.2);
  }
  &:hover {
    color: #fff !important;
    background: #289af7 !important;
    border-color: #289af7 !important;
  }
}
.ant-checkbox-group-item {
  margin-right: 45px !important;
  .ant-checkbox + span {
    font-size: 16px;
    font-weight: 500;
    color: #0d1319;
  }
}
.ant-form-item {
  margin-bottom: 3px !important;
}
.ant-form-item .ant-upload.ant-upload-drag {
  min-height: 240px;
  min-width: 230px;
  background: none;
  border: none;
  .ant-upload-drag-container {
    max-width: 320px;
  }
}
.ant-upload {
  width: 100% !important;
}
.ant-upload.ant-upload-drag .ant-upload-btn {
  display: flex !important;
  justify-content: center !important;
  .ant-btn-primary {
    height: 40px !important;
  }
}
.ant-upload.ant-upload-drag p.ant-upload-text {
  margin: 5px 0 10px !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.36;
  color: #0d1319 !important;
}
.single-group {
  margin: 25px 0 10px !important;
}
.no-margin-bottom {
  margin-bottom: unset !important;
}
.ant-collapse {
  border: unset !important;
  .ant-collapse-item {
    background: #fff;
    .ant-collapse-header {
      padding: 22px 16px !important;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
// .ant-picker {
//   width: 100%;
//   height: 50px;
//   background: $container-background !important;
//   border-radius: 5px !important;
//   border: solid 1px rgba(135, 149, 162, 0.4) !important;
//   cursor: pointer;
//   .ant-picker-input > input:placeholder-shown,
//   .ant-picker-suffix {
//     //display: none;
//   }
//   .ant-picker-input {
//     > input::placeholder {
//       text-align: center;
//       color: #8d8d8d;
//     }
//     //margin-top: 14px;
//   }
//   .ant-picker-separator {
//     visibility: hidden;
//   }
// }
.ant-picker {
  width: 100%;
  height: 50px;
  background: $container-background !important;
  border-radius: 5px !important;
  border: solid 1px rgba(135, 149, 162, 0.4) !important;
  // cursor: pointer;
  .ant-picker-input > input:placeholder-shown,
  .ant-picker-suffix {
    opacity: 0;
  }
  .ant-picker-input {
    margin-top: 14px;
  }
}

.ant-modal-body {
  padding: 20px 16px !important;
}
.ant-collapse-content {
  border-top: unset !important;
  padding-bottom: 16px;
}
.ant-modal-content {
  border-radius: 5px !important;
}
.add-modal {
  max-height: 320px !important;
  top: 30% !important;
  // transform: translateY(-50%);
  .ant-modal-content {
    max-width: 60%;
    margin: 0 auto;
  }
}
.add-category-modal {
  .ant-modal-body {
    position: relative;
    padding: 0 40px 33px !important;
    min-height: 80vh;
  }
  .ant-modal-close {
    top: 34px;
    right: 40px;
  }
}
.add-category-modal,
.category-modal,
.confirmation-modal {
  .ant-modal-close-x {
    width: 31px;
    height: 31px;
    line-height: 31px;
  }
}
.category-modal {
  &.ant-modal {
    padding: 0;
  }
  .ant-modal-body {
    padding: 0 !important;
    height: calc(80vh - 103px);
  }
  .ant-modal-footer {
    padding: 26px 0;
    justify-content: center;
    display: flex;
    .add-category {
      padding: 0 65px;
      letter-spacing: -0.32px;
    }
  }
  .ant-modal-close {
    top: 45px;
    right: 40px;
  }
}
.confirmation-modal {
  .ant-modal-body {
    padding: 58px 60px 38px !important;
  }
  .ant-modal-close {
    top: 36px;
    right: 35px;
  }
}
// overwriting css for full screen modal
.full-view-modal {
  // .ant-modal{
  top: unset !important;
  width: 100% !important;
  // }
  .ant-modal-content {
    width: 100% !important;
    max-width: unset !important;
  }
  .ant-modal-close-icon,
  .ant-modal-close {
    display: none !important;
  }
  .ant-modal-body {
    padding: unset !important;
  }
}
// overwriting css for modal
.inlineRadioFields {
  display: flex;
  align-items: center;
  .radio-buttons {
    margin-bottom: 10px !important;
  }
}
.radioButtons {
  margin-bottom: 20px;
  span {
    font-size: 16px;
    color: $bold-black;
  }
  &.largeMargin {
    margin-right: 55px;
  }
}
.radio-buttons {
  margin-bottom: 35px !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 16px !important;
}
.ant-checkbox-group {
  &.heading-present {
    margin: 0 0 10px !important;
  }
}
.ant-input-number {
  width: 50px !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.select-enter {
  &.doNotShow {
    display: none;
  }
  input {
    border-right: 0px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .ant-select-selector {
    border-top-left-radius: 0 !important;
    background-color: #fff !important;
    padding: 11px 16px !important;
    border-bottom-left-radius: 0 !important;
  }
}
.filters-header {
  padding: 15px 30px;
  padding-right: 15px;
  border-bottom: 1px solid #d9d9d9;
  .filters-heading {
    color: #6c7a8f;
  }
  .clear-text {
    color: rgba(135, 149, 162, 0.4);
    &.filters-present {
      color: #339bff;
    }
  }
}
.filters-form-collapse {
  .reset-field {
    color: #339bff;
    margin-right: 10px;
  }
  .ant-collapse {
    .ant-collapse-header {
      padding: 15px 30px !important;
      color: #6c7a8f !important;
      font-size: 14px;
    }
    .ant-collapse-content-box {
      padding: 0 30px !important;
    }
  }
  .ant-checkbox-group {
    margin: unset !important;
  }
  .ant-checkbox-group-item {
    margin: 10px 0;
    margin-right: 20px !important;
  }
  .ant-checkbox-group-item .ant-checkbox + span {
    color: #6c7a8f !important;
    font-size: 14px !important;
  }
}
.ant-btn-sm {
  min-height: 30px !important;
}
.time-picker {
  .ant-btn-sm {
    min-height: 30px !important;
  }
}
.ant-input-padding {
  padding: 11px !important;
}
span.ant-radio + * {
  color: #0d1319;
  text-transform: capitalize;
}
.policies-modal {
  .ant-modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #0d1319;
  }
  .ant-modal-header {
    padding: 25px;
  }
  .ant-modal-body {
    padding: 10px 24px !important;
    height: 560px;
    overflow-y: auto;
  }
  .ant-modal-close {
    top: 5px !important;
  }
  .ant-divider-dashed {
    border-color: $theme-color;
    margin: 15px 0 20px;
  }
}
.data-table {
  margin-bottom: 20px !important;
  .ant-input {
    padding: 11px !important;
  }
}
.text-area-container {
  .ant-form-item-control-input-content {
    border-radius: 5px !important;
    border: solid 1px rgba(135, 149, 162, 0.4) !important;
    padding-top: 20px;
    background-color: rgba(135, 149, 162, 0.06) !important;
  }
  textarea.ant-input {
    border: unset !important;
    background: unset !important;
    padding-bottom: 10px !important;
  }
}
.ant-form-item-explain {
  font-size: 11px !important;
  color: #f13737 !important;
  margin-top: 2px;
  min-height: unset !important;
}
