.btn {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  // letter-spacing: 2.4px;
  border-radius: 60px;
  cursor: pointer;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    // letter-spacing: 1.6px;
  }
}

.btn-primary {
  border: solid 2px #373873;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: #373873;
  outline: none;
  &:hover {
    background-color: transparent;
    color: #373873;
    // font-weight: bold;
  }
}

.btn-secondary {
  border-radius: 60px;
  border: none;
  background-color: #373873;
  transition: all 0.3s ease-in-out;
  color: #fff;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    // font-weight: bold;
    color: #373873;
    border: solid 2px #373873;
  }
}

.btn-lg {
  width: 210px;
  height: 50px;
  font-size: 16px;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }
}

.btn-xl {
  width: 453px;
  height: 65px;
  font-size: 26px;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: 300px;
    height: 45px;
    font-size: 16px;
  }
}
