@import "./variables";

// main layout for the sections
.content-holder {
  // max-width: 1120px;
  // margin: 0 auto;
  padding: 30px;
  background-color: $container-background;
}
.content-controller {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 0 15px;
  }
}
.container-component {
  min-height: calc(100vh - 150px);
  .sidebar-component {
    flex: 0 18%;
  }
  .content-holder {
    // flex: 0 80%;
    flex: 1;
  }
}
.form-container {
  background-color: $container-background;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 30px;
}
.view-all {
  margin-bottom: unset;
}
.hotel-margin-new {
  margin: 0 0 10px !important;
}

::-webkit-scrollbar {
  width: 5px;
  display: unset;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f5f7fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(51, 155, 255, 0.3);
}

.form-holder {
  width: 80%;
  padding: 30px 35px;
  border-radius: 10px;
  border: solid 2px #f0f3fa;
  background-color: $background-white;
  overflow: scroll;
  .multi-fields {
    margin-bottom: 20px;
    &.multi-with-borders {
      padding: 20px;
      border-radius: 5px;
      border: solid 1px rgba(135, 149, 162, 0.4);
    }
  }
  .map-field {
    .map-selector {
      min-width: 155px;
      right: 0;
      top: 0;
      padding: 0 20px;
      margin: 14px 0;
      border-left: 1px solid rgba(135, 149, 162, 0.4);
    }
  }
  .image-field {
    border: dashed 1px rgba(135, 149, 162, 0.4);
    border-radius: 2px;
    height: 270px;
    background-color: rgba(135, 149, 162, 0.06);
    .images-holder {
      height: 100%;
      flex: 0 80%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .ant-divider-dashed {
    border-color: $theme-color;
    margin: 15px 0 20px;
  }
  .accordian-container {
    border-radius: 5px;
    border: solid 1px rgba(135, 149, 162, 0.4);
    width: 100%;
  }
  .days-holder {
    max-width: 50%;
    .day {
      background-color: #f8f9fa;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      &.active {
        background-color: $theme-color;
        span {
          color: #fff;
        }
      }
    }
  }
  .number-picker-container {
    border-radius: 5px;
    border: solid 1px rgba(135, 149, 162, 0.4);
    background-color: rgba(135, 149, 162, 0.06);
    max-width: 280px;
    max-height: 50px;
    &.full-width {
      max-width: 300px;
    }
    .label-name {
      padding: 15px;
      min-width: fit-content;
      p {
        font-size: $text-normal;
        color: $placeholder-color;
      }
    }
    .minusicon {
      padding: 15px;
      margin-right: -15px;
    }
    .plusicon {
      padding: 15px;
    }
    .input {
      max-width: 110px;
      padding: unset;
      border-radius: unset;
      input {
        text-align: center;
        background-color: $background-white !important;
        border-radius: unset !important;
        padding: 15px !important;
        height: 100%;
      }
    }
  }
  .doc-upload {
    border-radius: 5px;
    padding: 20px;
    border: dashed 1px rgba(135, 149, 162, 0.4);
    background-color: rgba(135, 149, 162, 0.06);
  }
  .range-picker-container {
    border-radius: 5px;
    border: solid 1px rgba(135, 149, 162, 0.4);
    background-color: rgba(135, 149, 162, 0.06);
    max-width: 300px;
    max-height: 50px;
    .label-name {
      padding: 15px;
      font-size: $text-normal;
      color: $placeholder-color;
      min-width: 50%;
    }
    .minusicon {
      margin: 0 15px;
    }
    .input {
      padding: unset;
      border-radius: unset;
      max-height: 50px;
      input {
        background-color: $background-white !important;
        border-radius: unset !important;
        padding: 15px 10px !important;
        height: 100%;
      }
      &.input-right {
        input {
          border-radius: 0 5px 5px 0 !important;
        }
      }
    }
  }
  .form-items-holder {
    margin-bottom: 150px;
  }
}
.main-heading {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: -0.23px;
  color: #0d1319;
  &.title {
    font-size: 18px;
  }
  &.field-heading {
    margin: 20px 0;
    // font-size: 18px;
    // font-family: "Inter-Bold";
  }
  &.sub-heading {
    color: #0d1319;
    text-align: start;
    margin-top: 15px;
    font-weight: 500;
    font-family: "Inter-Regular";
    font-size: 16px;
  }
}
.rc-table {
  height: calc(100% - 50px);
  overflow: auto;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
  background-color: rgba(55, 56, 115, 0.2);
}
.error-message {
  h2 {
    font-size: 11px;
    color: #f13737;
    margin-top: 2px;
  }
}
.nested-modal {
  background-color: $container-background;
  border-radius: 5px;
  padding: 25px;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  &.isModal {
    grid-template-columns: repeat(2, 1fr);
  }
  .ant-checkbox-wrapper {
    color: #0d1319;
    font-size: 16px;
    margin: 5px 0;
  }
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px !important;
  }
}
.show-asi {
  display: block !important;
}
.hide-asi {
  display: none !important;
}
.show-asi-radio {
  display: block !important;
}
.hide-asi-radio {
  display: none !important;
}
.show-heading-asi {
  display: block !important;
  .ant-form-item-control-input {
    min-height: unset !important;
  }
}
.hide-heading-asi {
  display: none !important;
  .ant-form-item-control-input {
    min-height: unset !important;
  }
}
.show-asi-radio-head {
  display: block !important;
  // font-weight: bold !important;
  font-size: 16px;
  color: #0d1319 !important;
}
// used when don't want to enable any edit state
.read-only-mode {
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
  .ant-collapse-header {
    pointer-events: all !important;
  }
}

.upload-file {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: dashed 1px rgba(135, 149, 162, 0.4);
  background-color: rgba(135, 149, 162, 0.06);
}
.clearfix-checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  .ant-checkbox-wrapper {
    display: flex !important;
    align-items: center !important;
  }
}
.clearfix-checkbox-facts {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  .ant-checkbox-wrapper {
    display: flex !important;
    align-items: center !important;
  }
}
.target-flex-check {
  .ant-checkbox-group-item {
    display: flex !important;
    align-items: center !important;
  }
}
.initial-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 52px;
  height: 52px;
  font-size: 25px;
  background-color: #f5f7fd;
  -webkit-box-shadow: inset 2px 1px 22px -18px rgba(13, 19, 25, 0.53);
  -moz-box-shadow: inset 2px 1px 22px -18px rgba(13, 19, 25, 0.53);
  box-shadow: inset 2px 1px 22px -18px rgba(13, 19, 25, 0.53);
}
.rc-time-picker-input {
  min-height: 50px;
  border-radius: 5px !important;
  border: solid 1px rgba(135, 149, 162, 0.4) !important;
  background-color: rgba(135, 149, 162, 0.06) !important;
}
.rc-time-picker-panel-inner {
  margin-top: 53px !important;
}
.rc-time-picker-panel-input-wrap {
  display: none !important;
}
.rc-time-picker {
  width: 100% !important;
}
.rc-time-picker-panel-select li {
  font-size: 14px !important;
}
.show-series {
  display: flex !important;
}
.dont-show {
  display: none !important;
}
// .new-series{
//   .ant-col .ant-col-8{
//     display: none !important;
//   }
// }
.main-warning-wrapper {
  margin-top: 30px;
}
.warning-msg {
  margin-bottom: 10px;
  font-size: 30px;
  color: #000;
}
.warning-desc {
  line-height: 1.33;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.warning-footer {
  margin-bottom: 15px;
  font-size: 20px;
}
.error-msg {
  object-fit: contain;
  object-position: center;
}
.try-again-global {
  height: 45px;
  background-color: #0077ea;
  color: #fff;
  border: 0;
  border-radius: 10px;
  width: 150px;
  font-size: 18px;
}
.alert-global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// css classes for disabled button at the top
.okay-disabled {
  cursor: not-allowed !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
.flex-parent {
  .ant-btn-primary {
    &:hover {
      background-color: #cccccc !important;
      border-color: unset !important;
      color: #666666 !important;
    }
  }
}

.series-select .ant-select-selector {
  width: 100% !important;
}

.forecasted-tag {
  border-radius: 5px;
  background-color: rgba(0, 119, 238, 0.5);
  padding: 2px 10px;
  font-size: 12px;
  height: fit-content;
  color: #ffffff;
  text-align: center;
}
